@import "tailwindcss";

@theme {
  --color-tealgreen: rgb(16 140 119 / var(--tw-text-opacity));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.required::after {
  content: " *";
  color: red;
}

::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}